/* 
Basic Portfolio
Winter 2019
style.css
 */

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url('../images/dot-grid/dot-grid.png');
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
    border: 2px solid #cccccc;
}

section {
    background-color: #ffffff;
    border: 2px solid #dddddd;
    width: 80%;
    margin: 100px;
}

footer {
    background-color: #666666;
    padding: 30px 10px 30px 10px;
    text-align: center;
}

.head-name {
    background-color: #4aaaa5;
    width: 10%;
    padding: 10px 90px;
    margin-left: 80px;
    text-align: center;
    /* display: inline-block; */
}

.head-menu {
    /* display: inline-block; */
    text-align: right;
    /* margin-left: 550px; */
}

.head-menu a {
    text-decoration: none;
    padding: 10px;
}