/* 
Basic Portfolio
Winter 2019
style.css
 */

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url('../images/dot-grid/dot-grid.png');
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
    border: 2px solid #cccccc;
}

section {
    background-color: #ffffff;
    border: 2px solid #dddddd;
    width: 80%;
}

footer {
    background-color: #666666;
}

.head-name {
    background-color: #4aaaa5;
    /* width: 20%; */
    text-align: center;
    padding: 50px;
    margin: 0px;
    /* float: left; */
    position: fixed;
    top: 5;
    left: 100;
}

.head-menu {
    padding: 200px;
}